CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
show_me_the_model/.idea/
show_me_the_model/cmake-build-debug/build.ninja
show_me_the_model/cmake-build-debug/
show_me_the_hardwares/cmake-build-debug/
show_me_the_hardwares/cmake-build-cmakellvm/
